<ion-view>
  <ion-content>
  	<ion-list>
		<ion-item class="item-icon-left item-icon-right" href="#/app/settings/{{id}}" ng-click"$state.go('app.sitesettings')">
			<i class="icon ion-ios-information-outline site-icon"></i>
			<h3>Account Info</h3>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right" href="#/app/settings/{{id}}" ng-click"$state.go('app.sitesettings')">
			<i class="icon ion-pie-graph site-icon"></i>
			<h3>Plan Usage</h3>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right" href="#/app/settings/{{id}}" ng-click"$state.go('app.sitesettings')">
			<i class="icon ion-card site-icon"></i>
			<h3>View Invoices</h3>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right" href="#/app/settings/{{id}}" ng-click"$state.go('app.sitesettings')">
			<i class="icon ion-person-add site-icon"></i>
			<h3>Add Portal Users</h3>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>


