<ion-view view-title="{{ site.title }} Invoices">
  <ion-content>
    <ion-list>
      <div ng-repeat="invoice in invoices">
        <ion-item class="item-icon-right" href="{{base_url}}/api/accounts/{{ account_name }}/installs/invoice?id={{invoice.id}}&wpe_apikey=devkey">
          <span>{{ invoice.number }} - {{ invoice.date | date }} - {{ invoice.total | currency }}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>