<ion-view view-title="Status">
  <ion-content>
  	<ion-list>
      <div class="item item-divider">Open Issues</div>
      <ion-item class="item-icon-right" ng-repeat="item in open" href="#/app/status/{{item.id}}">
        <h2>{{item.title}}</h2>
        <p>{{item.publishedDate | date: 'medium'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item ng-hide="open.length">No Open Issues</ion-item>

      <div class="item item-divider">Resolved Issues</div>
      <ion-item class="item-icon-right" ng-repeat="item in resolved" href="#/app/status/{{item.id}}">
        <h2>{{item.title}}</h2>
        <p>{{item.publishedDate | date: 'medium'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item ng-hide="resolved.length">No Resolved Issues</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
